<!DOCTYPE html>
<html>
<head>
    <title>Starting Lineups</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

<div id="app">
    <div class="container">
        <div class="flex flex-row my-2 justify-around">
            <label for="away">Stat Names:</label>
            <input v-model="input.statnames" type="text" name="away" class="text-black">
            <button v-on:click="update('stat')" class="bg-blue-500 p-1 rounded-md">Update</button>
        </div>

        <div class="flex flex-row my-2 justify-around">
            <label for="home">Home:</label>
            <input v-model="input.home" type="text" name="home" class="text-black">
            <button v-on:click="update('home')" class="bg-blue-500 p-1 rounded-md">Update</button>
        </div>

        <div class="flex flex-row my-2 justify-around">
            <label for="away">Away:</label>
            <input v-model="input.away" type="text" name="away" class="text-black">
            <button v-on:click="update('away')" class="bg-blue-500 p-1 rounded-md">Update</button>
        </div>
    </div>
</div>

<script>
    const cfg = nodecg.bundleConfig
    const statNamesRep = nodecg.Replicant('statNamesRep')
    const homeStatsRep = nodecg.Replicant('homeHalfStatsRep')
    const awayStatsRep = nodecg.Replicant('awayHalfStatsRep')

    var app = new Vue({
        el: "#app",
        data: {
            input: {
                statnames: "",
                home: "",
                away: ""
            }
        },
        methods: {
            update: (team) => {
                if(team == "home") {
                    homeStatsRep.value = app.input.home
                }
                else if(team == "away") {
                    awayStatsRep.value = app.input.away
                }
                else {
                    statNamesRep.value = app.input.statnames
                }
            }
        }
    })


</script>

</body>

</html>