<!DOCTYPE html>
<html>
<head>
    <title>DTV Lineups</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.2/gsap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<body>

<div id="app" style="width: 1920px; height: 1080px;">
    <div class="container">
        <div class="header">
            <p class="title">STARTING LINEUPS</p>
            <img class="sponsor" src="https://www.cancergoldstandard.org/sites/default/files/organisation/IBC_RGB_Blue_300.png">
        </div>
        <div id="home" class="lineup">
            <div class="player">
                <div class="colorbox imgbox">
                    <img class="teamImg" v-bind:src="config.home.image">
                </div>
                <div class="textbox">
                    <p class="uniName boxText">{{ config.home.univName.toUpperCase() }}</p>
                    <p class="teamName boxText">{{ config.home.teamName.toUpperCase() }}</p>
                </div>
            </div>
            <div v-for="player in homeLineup" :key="player.num" class="player">
                <div class="colorbox" v-bind:style="{backgroundImage: `url(${getImg('home', player.lastName)})`}">
                    <div class="stats">
                        <p class="playerStat">{{ player.num }}</p>
                        <p class="playerStat">{{ player.pos }}</p>
                        <p class="playerStat">{{ player.yr }}</p>
                    </div>
                </div>
                <div class="textbox">
                    <p class="uniName boxText">{{ player.firstName.toUpperCase() }}</p>
                    <p class="teamName boxText">{{ player.lastName.toUpperCase() }}</p>
                </div>
            </div>
        </div>
        <div id="away" class="lineup">
            <div class="player">
                <div class="colorbox imgbox">
                    <img class="teamImg" v-bind:src="config.away.image">
                </div>
                <div class="textbox">
                    <p class="uniName boxText">{{ config.away.univName.toUpperCase() }}</p>
                    <p class="teamName boxText">{{ config.away.teamName.toUpperCase() }}</p>
                </div>
            </div>
            <div v-for="player in awayLineup" :key="player.num" class="player">
                <div class="colorbox" v-bind:style="{backgroundImage: `url(${getImg('away', player.lastName)})`}">
                    <div class="stats">
                        <p class="playerStat">{{ player.num }}</p>
                        <p class="playerStat">{{ player.pos }}</p>
                        <p class="playerStat">{{ player.yr }}</p>
                    </div>
                </div>
                <div class="textbox">
                    <p class="uniName boxText">{{ player.firstName.toUpperCase() }}</p>
                    <p class="teamName boxText">{{ player.lastName.toUpperCase() }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const cfg = nodecg.bundleConfig
const defaultPlayer = {
    "firstName": "",
    "lastName": "",
    "num": "",
    "pos": "",
    "yr": ""
}
var app = new Vue({
    el: "#app",
    data: {
        config: cfg,
        homeLineupArray: [],
        awayLineupArray: []
    },
    methods: {
        getPlayer: (team, num) => {
            teamObj = team == "home"? cfg.home : cfg.away
            found = teamObj.players.find(x => x.num == num) || defaultPlayer
            return found
        },
        getImg: (team, name) => {
            name = name.replace(/ |,/g, "")
            name = name.replace(".", "")
            url = `img/${team}/${name.toLowerCase()}.png`
            return url
        }
    },
    computed: {
        homeLineup: function () {
            rv = []
            for(num in this.homeLineupArray) {
                playerNum = this.homeLineupArray[num]
                rv.push(this.getPlayer("home", playerNum))
            }
            return rv
        },
        awayLineup: function () {
            rv = []
            for(num in this.awayLineupArray) {
                playerNum = this.awayLineupArray[num]
                rv.push(this.getPlayer("away", playerNum))
            }
            return rv
        }
    }
})

const homeLineupRep = nodecg.Replicant("homeLineupRep")
homeLineupRep.on("change", (x) => {
    app.homeLineupArray = x.split(" ")
})

const awayLineupRep = nodecg.Replicant("awayLineupRep")
awayLineupRep.on("change", (x) => {
    app.awayLineupArray = x.split(" ")
})

nodecg.listenFor('toggleStarters', (_) => $('#app').fadeToggle(100))
$("#app").fadeOut(0)
</script>

</body>

</html>






